<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarriagePathDeadEndEast_TileType</key>
	<integer>326</integer>
	<key>CarriagePathDeadEndNorth_TileType</key>
	<integer>343</integer>
	<key>CarriagePathDeadEndSouth_TileType</key>
	<integer>342</integer>
	<key>CarriagePathDeadEndWest_TileType</key>
	<integer>327</integer>
	<key>CarriagePathEastThreeWay_TileType</key>
	<integer>333</integer>
	<key>CarriagePathEastWest_TileType</key>
	<integer>266</integer>
	<key>CarriagePathIntersection_FourWay_TileType</key>
	<integer>332</integer>
	<key>CarriagePathNorthSouth_TileType</key>
	<integer>259</integer>
	<key>CarriagePathNorthThreeWay_TileType</key>
	<integer>336</integer>
	<key>CarriagePathNorthToWest_TileType</key>
	<integer>469</integer>
	<key>CarriagePathSouthThreeWay_TileType</key>
	<integer>334</integer>
	<key>CarriagePathSouthToEast_TileType</key>
	<integer>460</integer>
	<key>CarriagePathSouthToWest_TileType</key>
	<integer>461</integer>
	<key>CarriagePathTileType</key>
	<integer>258</integer>
	<key>CarriagePathWestThreeWay_TileType</key>
	<integer>341</integer>
	<key>CaveCornerNorthEast_TileType</key>
	<integer>2018</integer>
	<key>CaveCornerNorthWest_TileType</key>
	<integer>2017</integer>
	<key>CaveCornerSouthEast_TileType</key>
	<integer>20158</integer>
	<key>CaveCornerSouthWest_TileType</key>
	<integer>2055</integer>
	<key>CavePassageDeadEndEast_TileType</key>
	<integer>1350</integer>
	<key>CavePassageDeadEndNorth_TileType</key>
	<integer>1340</integer>
	<key>CavePassageDeadEndSouth_TileType</key>
	<integer>1349</integer>
	<key>CavePassageDeadEndWest_TileType</key>
	<integer>1351</integer>
	<key>CavePassageEastWest_TileType</key>
	<integer>1619</integer>
	<key>CavePassageIntersection_FourWay_TileType</key>
	<integer>1264</integer>
	<key>CavePassageNorthSouth_TileType</key>
	<integer>1326</integer>
	<key>CavePassageNorthToEast_TileType</key>
	<integer>1322</integer>
	<key>CavePassageNorthToWest_TileType</key>
	<integer>1324</integer>
	<key>CavePassageSouthToEast_TileType</key>
	<integer>1320</integer>
	<key>CavePassageSouthToWest_TileType</key>
	<integer>1591</integer>
	<key>DesertTileType</key>
	<integer>228</integer>
	<key>DesertToGrass_East_TransitionTileType</key>
	<integer>968</integer>
	<key>DesertToGrass_North_TransitionTileType</key>
	<integer>970</integer>
	<key>DesertToGrass_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>974</integer>
	<key>DesertToGrass_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>975</integer>
	<key>DesertToGrass_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>966</integer>
	<key>DesertToGrass_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>967</integer>
	<key>DesertToGrass_Solo_TransitionTileType</key>
	<integer>1942</integer>
	<key>DesertToGrass_South_TransitionTileType</key>
	<integer>960</integer>
	<key>DesertToGrass_West_TransitionTileType</key>
	<integer>963</integer>
	<key>DesertToMountain_East_TransitionTileType</key>
	<integer>760</integer>
	<key>DesertToMountain_North_TransitionTileType</key>
	<integer>765</integer>
	<key>DesertToMountain_South_TransitionTileType</key>
	<integer>763</integer>
	<key>DesertToMountain_West_TransitionTileType</key>
	<integer>761</integer>
	<key>DesertToWater_East_TransitionTileType</key>
	<integer>3023</integer>
	<key>DesertToWater_North_TransitionTileType</key>
	<integer>3021</integer>
	<key>DesertToWater_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>3024</integer>
	<key>DesertToWater_South_TransitionTileType</key>
	<integer>3020</integer>
	<key>DesertToWater_West_TransitionTileType</key>
	<integer>3027</integer>
	<key>DirtCaveCornerNorthEast_TileType</key>
	<integer>20158</integer>
	<key>DirtCaveCornerSouthWest_TileType</key>
	<integer>2017</integer>
	<key>DirtCavePassageDeadEndEast_TileType</key>
	<integer>178</integer>
	<key>DirtCavePassageDeadEndNorth_TileType</key>
	<integer>182</integer>
	<key>DirtCavePassageDeadEndSouth_TileType</key>
	<integer>1805</integer>
	<key>DirtCavePassageDeadEndWest_TileType</key>
	<integer>179</integer>
	<key>DirtCavePassageEastThreeWay_TileType</key>
	<integer>1286</integer>
	<key>DirtCavePassageEastWest_TileType</key>
	<integer>1970</integer>
	<key>DirtCavePassageIntersection_FourWay_TileType</key>
	<integer>1782</integer>
	<key>DirtCavePassageNorthSouth_TileType</key>
	<integer>1550</integer>
	<key>DirtCavePassageNorthThreeWay_TileType</key>
	<integer>1285</integer>
	<key>DirtCavePassageNorthToWest_TileType</key>
	<integer>1567</integer>
	<key>DirtCavePassageSouthThreeWay_TileType</key>
	<integer>1284</integer>
	<key>DirtCavePassageSouthToEast_TileType</key>
	<integer>1558</integer>
	<key>DirtCavePassageTileType</key>
	<integer>2044</integer>
	<key>DirtCavePassageWestThreeWay_TileType</key>
	<integer>1287</integer>
	<key>DungeonAreaEastWallTileType</key>
	<integer>2391</integer>
	<key>DungeonAreaNorthWallTileType</key>
	<integer>2390</integer>
	<key>DungeonAreaSouthWallTileType</key>
	<integer>2574</integer>
	<key>DungeonAreaWestWallTileType</key>
	<integer>2576</integer>
	<key>DungeonCornerNorthEast_TileType</key>
	<integer>2458</integer>
	<key>DungeonCornerNorthWest_TileType</key>
	<integer>2457</integer>
	<key>DungeonCornerSouthEast_TileType</key>
	<integer>2466</integer>
	<key>DungeonCornerSouthWest_TileType</key>
	<integer>2465</integer>
	<key>DungeonDeadEndWest_TileType</key>
	<integer>2497</integer>
	<key>DungeonFourWayOutsideCornerBAAreaType</key>
	<integer>2451</integer>
	<key>DungeonNorthEastOutsideCornerBAAreaType</key>
	<integer>2529</integer>
	<key>DungeonNorthEastSouthEastOutsideCornerBAAreaType</key>
	<integer>2524</integer>
	<key>DungeonNorthEastSouthWestSouthEastOutsideCornerBAAreaType</key>
	<integer>2526</integer>
	<key>DungeonNorthWestNorthEastOutsideCornerBAAreaType</key>
	<integer>2575</integer>
	<key>DungeonNorthWestNorthEastSouthEastOutsideCornerBAAreaType</key>
	<integer>2534</integer>
	<key>DungeonNorthWestNorthEastSouthWestOutsideCornerBAAreaType</key>
	<integer>2533</integer>
	<key>DungeonNorthWestOutsideCornerBAAreaType</key>
	<integer>2530</integer>
	<key>DungeonNorthWestSouthEastOutsideCornerBAAreaType</key>
	<integer>1836</integer>
	<key>DungeonNorthWestSouthWestOutsideCornerBAAreaType</key>
	<integer>2532</integer>
	<key>DungeonNorthWestSouthWestSouthEastOutsideCornerBAAreaType</key>
	<integer>2525</integer>
	<key>DungeonPassageDeadEndEast_TileType</key>
	<integer>2503</integer>
	<key>DungeonPassageDeadEndNorth_TileType</key>
	<integer>2509</integer>
	<key>DungeonPassageDeadEndSouth_TileType</key>
	<integer>2504</integer>
	<key>DungeonPassageDeadEndWest_TileType</key>
	<integer>2132</integer>
	<key>DungeonPassageEastThreeWay_TileType</key>
	<integer>2519</integer>
	<key>DungeonPassageEastWest_TileType</key>
	<integer>2473</integer>
	<key>DungeonPassageIntersection_FourWay_TileType</key>
	<integer>2543</integer>
	<key>DungeonPassageNorthSouth_TileType</key>
	<integer>2477</integer>
	<key>DungeonPassageNorthThreeWay_TileType</key>
	<integer>2518</integer>
	<key>DungeonPassageNorthToEast_TileType</key>
	<integer>2493</integer>
	<key>DungeonPassageSouthThreeWay_TileType</key>
	<integer>2517</integer>
	<key>DungeonPassageSouthToWest_TileType</key>
	<integer>2486</integer>
	<key>DungeonPassageTileType</key>
	<integer>2477</integer>
	<key>DungeonPassageWestThreeWay_TileType</key>
	<integer>2520</integer>
	<key>DungeonSouthEastOutsideCornerBAAreaType</key>
	<integer>2521</integer>
	<key>DungeonSouthWestNorthEastOutsideCornerBAAreaType</key>
	<integer>1836</integer>
	<key>DungeonSouthWestOutsideCornerBAAreaType</key>
	<integer>2522</integer>
	<key>DungeonSouthWestSouthEastOutsideCornerBAAreaType</key>
	<integer>2523</integer>
	<key>DungeonTileType</key>
	<integer>2381</integer>
	<key>GrassTileType</key>
	<integer>1798</integer>
	<key>GrassToDesert_East_TransitionTileType</key>
	<integer>963</integer>
	<key>GrassToDesert_North_TransitionTileType</key>
	<integer>960</integer>
	<key>GrassToDesert_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>967</integer>
	<key>GrassToDesert_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>966</integer>
	<key>GrassToDesert_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>975</integer>
	<key>GrassToDesert_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>974</integer>
	<key>GrassToDesert_South_TransitionTileType</key>
	<integer>970</integer>
	<key>GrassToDesert_West_TransitionTileType</key>
	<integer>968</integer>
	<key>GrassToSwamp_East_TransitionTileType</key>
	<integer>1090</integer>
	<key>GrassToSwamp_North_TransitionTileType</key>
	<integer>1098</integer>
	<key>GrassToSwamp_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>1084</integer>
	<key>GrassToSwamp_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>1081</integer>
	<key>GrassToSwamp_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>1076</integer>
	<key>GrassToSwamp_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>1073</integer>
	<key>GrassToSwamp_South_TransitionTileType</key>
	<integer>1100</integer>
	<key>GrassToSwamp_West_TransitionTileType</key>
	<integer>1092</integer>
	<key>GrassToWater_East_TransitionTileType</key>
	<integer>31</integer>
	<key>GrassToWater_North_TransitionTileType</key>
	<integer>15</integer>
	<key>GrassToWater_South_TransitionTileType</key>
	<integer>22</integer>
	<key>GrassToWater_West_TransitionTileType</key>
	<integer>39</integer>
	<key>GrassToWoods_East_TransitionTileType</key>
	<integer>2650</integer>
	<key>GrassToWoods_North_TransitionTileType</key>
	<integer>2723</integer>
	<key>GrassToWoods_South_TransitionTileType</key>
	<integer>2823</integer>
	<key>GrassToWoods_West_TransitionTileType</key>
	<integer>2582</integer>
	<key>InvalidTileType</key>
	<integer>880</integer>
	<key>MountainTileType</key>
	<integer>2819</integer>
	<key>MountainToDesert_East_TransitionTileType</key>
	<integer>761</integer>
	<key>MountainToDesert_North_TransitionTileType</key>
	<integer>763</integer>
	<key>MountainToDesert_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>769</integer>
	<key>MountainToDesert_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>768</integer>
	<key>MountainToDesert_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>755</integer>
	<key>MountainToDesert_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>754</integer>
	<key>MountainToDesert_South_TransitionTileType</key>
	<integer>765</integer>
	<key>MountainToDesert_West_TransitionTileType</key>
	<integer>760</integer>
	<key>MountainToGrass_East_TransitionTileType</key>
	<integer>1386</integer>
	<key>MountainToGrass_North_TransitionTileType</key>
	<integer>2844</integer>
	<key>MountainToGrass_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>726</integer>
	<key>MountainToGrass_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>727</integer>
	<key>MountainToGrass_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>2837</integer>
	<key>MountainToGrass_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>725</integer>
	<key>MountainToGrass_South_TransitionTileType</key>
	<integer>730</integer>
	<key>MountainToGrass_West_TransitionTileType</key>
	<integer>2841</integer>
	<key>MountainToSwamp_East_TransitionTileType</key>
	<integer>745</integer>
	<key>MountainToSwamp_North_TransitionTileType</key>
	<integer>747</integer>
	<key>MountainToSwamp_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>737</integer>
	<key>MountainToSwamp_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>736</integer>
	<key>MountainToSwamp_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>739</integer>
	<key>MountainToSwamp_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>738</integer>
	<key>MountainToSwamp_South_TransitionTileType</key>
	<integer>746</integer>
	<key>MountainToSwamp_West_TransitionTileType</key>
	<integer>744</integer>
	<key>MountainToWater_East_TransitionTileType</key>
	<integer>745</integer>
	<key>MountainToWater_North_TransitionTileType</key>
	<integer>747</integer>
	<key>MountainToWater_South_TransitionTileType</key>
	<integer>746</integer>
	<key>MountainToWater_West_TransitionTileType</key>
	<integer>744</integer>
	<key>NarrowPathDeadEndEast_TileType</key>
	<integer>3043</integer>
	<key>NarrowPathDeadEndNorth_TileType</key>
	<integer>3050</integer>
	<key>NarrowPathDeadEndSouth_TileType</key>
	<integer>3048</integer>
	<key>NarrowPathDeadEndWest_TileType</key>
	<integer>3044</integer>
	<key>NarrowPathEastThreeWay_TileType</key>
	<integer>2924</integer>
	<key>NarrowPathEastWest_TileType</key>
	<integer>2922</integer>
	<key>NarrowPathIntersection_FourWay_TileType</key>
	<integer>335</integer>
	<key>NarrowPathNorthSouth_TileType</key>
	<integer>2920</integer>
	<key>NarrowPathNorthThreeWay_TileType</key>
	<integer>3051</integer>
	<key>NarrowPathNorthToEast_TileType</key>
	<integer>2926</integer>
	<key>NarrowPathNorthToWest_TileType</key>
	<integer>2927</integer>
	<key>NarrowPathSouthThreeWay_TileType</key>
	<integer>2925</integer>
	<key>NarrowPathSouthToEast_TileType</key>
	<integer>2910</integer>
	<key>NarrowPathSouthToWest_TileType</key>
	<integer>2911</integer>
	<key>NarrowPathTileType</key>
	<integer>2921</integer>
	<key>NarrowPathWestThreeWay_TileType</key>
	<integer>3052</integer>
	<key>NarrowRoadDeadEndEast_TileType</key>
	<integer>254</integer>
	<key>NarrowRoadDeadEndNorth_TileType</key>
	<integer>240</integer>
	<key>NarrowRoadDeadEndSouth_TileType</key>
	<integer>240</integer>
	<key>NarrowRoadDeadEndWest_TileType</key>
	<integer>254</integer>
	<key>NarrowRoadEastThreeWay_TileType</key>
	<integer>247</integer>
	<key>NarrowRoadEastWest_TileType</key>
	<integer>254</integer>
	<key>NarrowRoadIntersection_FourWay_TileType</key>
	<integer>250</integer>
	<key>NarrowRoadNorthSouth_TileType</key>
	<integer>240</integer>
	<key>NarrowRoadNorthThreeWay_TileType</key>
	<integer>255</integer>
	<key>NarrowRoadSouthThreeWay_TileType</key>
	<integer>251</integer>
	<key>NarrowRoadSouthToEast_TileType</key>
	<integer>242</integer>
	<key>NarrowRoadSouthToWest_TileType</key>
	<integer>243</integer>
	<key>NarrowRoadTileType</key>
	<integer>240</integer>
	<key>NarrowRoadWestThreeWay_TileType</key>
	<integer>249</integer>
	<key>NoTileType</key>
	<integer>1836</integer>
	<key>RiverPathDeadEndEast_TileType</key>
	<integer>0</integer>
	<key>RiverPathDeadEndNorth_TileType</key>
	<integer>283</integer>
	<key>RiverPathDeadEndSouth_TileType</key>
	<integer>284</integer>
	<key>RiverPathDeadEndWest_TileType</key>
	<integer>0</integer>
	<key>RiverPathEastThreeWay_TileType</key>
	<integer>0</integer>
	<key>RiverPathEastWest_TileType</key>
	<integer>2601</integer>
	<key>RiverPathIntersection_FourWay_TileType</key>
	<integer>0</integer>
	<key>RiverPathNorthSouth_TileType</key>
	<integer>2600</integer>
	<key>RiverPathNorthThreeWay_TileType</key>
	<integer>2615</integer>
	<key>RiverPathNorthToEast_TileType</key>
	<integer>2610</integer>
	<key>RiverPathNorthToWest_TileType</key>
	<integer>2611</integer>
	<key>RiverPathSouthThreeWay_TileType</key>
	<integer>0</integer>
	<key>RiverPathSouthToEast_TileType</key>
	<integer>2802</integer>
	<key>RiverPathSouthToWest_TileType</key>
	<integer>2603</integer>
	<key>RiverPathTileType</key>
	<integer>2600</integer>
	<key>RiverPathWestThreeWay_TileType</key>
	<integer>0</integer>
	<key>SolidRockTileType</key>
	<integer>883</integer>
	<key>StoneCaveAreaEastWallTileType</key>
	<integer>1353</integer>
	<key>StoneCaveAreaNorthWallTileType</key>
	<integer>1355</integer>
	<key>StoneCaveAreaSouthWallTileType</key>
	<integer>1352</integer>
	<key>StoneCaveAreaTileType</key>
	<integer>891</integer>
	<key>StoneCaveAreaWestWallTileType</key>
	<integer>174</integer>
	<key>StoneCaveNorthEastCornerTileType</key>
	<integer>2018</integer>
	<key>StoneCaveNorthWestCornerTileType</key>
	<integer>2017</integer>
	<key>StoneCaveSouthEastCornerTileType</key>
	<integer>2058</integer>
	<key>StoneCaveSouthWestCornerTileType</key>
	<integer>2057</integer>
	<key>StreamPathDeadEndEast_TileType</key>
	<integer>1999</integer>
	<key>StreamPathDeadEndNorth_TileType</key>
	<integer>283</integer>
	<key>StreamPathDeadEndSouth_TileType</key>
	<integer>1996</integer>
	<key>StreamPathDeadEndWest_TileType</key>
	<integer>1998</integer>
	<key>StreamPathEastThreeWay_TileType</key>
	<integer>135</integer>
	<key>StreamPathEastWest_TileType</key>
	<integer>1981</integer>
	<key>StreamPathIntersection_FourWay_TileType</key>
	<integer>0</integer>
	<key>StreamPathNorthSouth_TileType</key>
	<integer>1980</integer>
	<key>StreamPathNorthThreeWay_TileType</key>
	<integer>131</integer>
	<key>StreamPathNorthToEast_TileType</key>
	<integer>143</integer>
	<key>StreamPathNorthToWest_TileType</key>
	<integer>1991</integer>
	<key>StreamPathSouthThreeWay_TileType</key>
	<integer>150</integer>
	<key>StreamPathSouthToEast_TileType</key>
	<integer>94</integer>
	<key>StreamPathSouthToWest_TileType</key>
	<integer>144</integer>
	<key>StreamPathTileType</key>
	<integer>145</integer>
	<key>StreamPathWestThreeWay_TileType</key>
	<integer>13</integer>
	<key>SwampTileType</key>
	<integer>1128</integer>
	<key>SwampToGrass_East_TransitionTileType</key>
	<integer>1092</integer>
	<key>SwampToGrass_InsideCorner_NorthEast_TransitionTileType</key>
	<integer>1073</integer>
	<key>SwampToGrass_InsideCorner_SouthEast_TransitionTileType</key>
	<integer>1081</integer>
	<key>SwampToGrass_InsideCorner_SouthWest_TransitionTileType</key>
	<integer>1084</integer>
	<key>SwampToGrass_North_TransitionTileType</key>
	<integer>1100</integer>
	<key>SwampToGrass_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>1082</integer>
	<key>SwampToGrass_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>1087</integer>
	<key>SwampToGrass_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>1074</integer>
	<key>SwampToGrass_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>1075</integer>
	<key>SwampToGrass_Solo_TransitionTileType</key>
	<integer>1112</integer>
	<key>SwampToGrass_South_TransitionTileType</key>
	<integer>1098</integer>
	<key>SwampToGrass_West_TransitionTileType</key>
	<integer>1090</integer>
	<key>SwampToMountain_East_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_North_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_South_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToMountain_West_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_East_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_North_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_South_TransitionTileType</key>
	<integer>2</integer>
	<key>SwampToWater_West_TransitionTileType</key>
	<integer>2</integer>
	<key>WaterTileType</key>
	<integer>0</integer>
	<key>WaterToDesert_East_TransitionTileType</key>
	<integer>3027</integer>
	<key>WaterToDesert_North_TransitionTileType</key>
	<integer>3020</integer>
	<key>WaterToDesert_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>3033</integer>
	<key>WaterToDesert_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>3032</integer>
	<key>WaterToDesert_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>3049</integer>
	<key>WaterToDesert_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>3037</integer>
	<key>WaterToDesert_South_TransitionTileType</key>
	<integer>3021</integer>
	<key>WaterToDesert_West_TransitionTileType</key>
	<integer>3023</integer>
	<key>WaterToGrass_East_TransitionTileType</key>
	<integer>2023</integer>
	<key>WaterToGrass_North_TransitionTileType</key>
	<integer>909</integer>
	<key>WaterToGrass_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>2136</integer>
	<key>WaterToGrass_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>1862</integer>
	<key>WaterToGrass_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>2137</integer>
	<key>WaterToGrass_South_TransitionTileType</key>
	<integer>287</integer>
	<key>WaterToGrass_West_TransitionTileType</key>
	<integer>260</integer>
	<key>WidePathDeadEndEast_TileType</key>
	<integer>326</integer>
	<key>WidePathDeadEndNorth_TileType</key>
	<integer>343</integer>
	<key>WidePathDeadEndSouth_TileType</key>
	<integer>342</integer>
	<key>WidePathDeadEndWest_TileType</key>
	<integer>327</integer>
	<key>WidePathEastThreeWay_TileType</key>
	<integer>333</integer>
	<key>WidePathEastWest_TileType</key>
	<integer>264</integer>
	<key>WidePathIntersection_FourWay_TileType</key>
	<integer>335</integer>
	<key>WidePathNorthSouth_TileType</key>
	<integer>520</integer>
	<key>WidePathNorthThreeWay_TileType</key>
	<integer>336</integer>
	<key>WidePathNorthToEast_TileType</key>
	<integer>322</integer>
	<key>WidePathNorthToWest_TileType</key>
	<integer>323</integer>
	<key>WidePathSouthThreeWay_TileType</key>
	<integer>334</integer>
	<key>WidePathSouthToEast_TileType</key>
	<integer>320</integer>
	<key>WidePathSouthToWest_TileType</key>
	<integer>321</integer>
	<key>WidePathTileType</key>
	<integer>520</integer>
	<key>WidePathWestThreeWay_TileType</key>
	<integer>341</integer>
	<key>WideRoadDeadEndEast_TileType</key>
	<integer>459</integer>
	<key>WideRoadDeadEndNorth_TileType</key>
	<integer>458</integer>
	<key>WideRoadDeadEndSouth_TileType</key>
	<integer>456</integer>
	<key>WideRoadDeadEndWest_TileType</key>
	<integer>457</integer>
	<key>WideRoadEastThreeWay_TileType</key>
	<integer>232</integer>
	<key>WideRoadEastWest_TileType</key>
	<integer>238</integer>
	<key>WideRoadIntersection_FourWay_TileType</key>
	<integer>234</integer>
	<key>WideRoadNorthSouth_TileType</key>
	<integer>464</integer>
	<key>WideRoadNorthThreeWay_TileType</key>
	<integer>268</integer>
	<key>WideRoadSouthThreeWay_TileType</key>
	<integer>261</integer>
	<key>WideRoadSouthToEast_TileType</key>
	<integer>262</integer>
	<key>WideRoadSouthToWest_TileType</key>
	<integer>263</integer>
	<key>WideRoadTileType</key>
	<integer>464</integer>
	<key>WideRoadWestThreeWay_TileType</key>
	<integer>269</integer>
	<key>WoodsTileType</key>
	<integer>2655</integer>
	<key>WoodsToGrass_East_TransitionTileType</key>
	<integer>2582</integer>
	<key>WoodsToGrass_North_TransitionTileType</key>
	<integer>2823</integer>
	<key>WoodsToGrass_OutsideCorner_NorthEast_TransitionTileType</key>
	<integer>2655</integer>
	<key>WoodsToGrass_OutsideCorner_NorthWest_TransitionTileType</key>
	<integer>2654</integer>
	<key>WoodsToGrass_OutsideCorner_SouthEast_TransitionTileType</key>
	<integer>2701</integer>
	<key>WoodsToGrass_OutsideCorner_SouthWest_TransitionTileType</key>
	<integer>2702</integer>
	<key>WoodsToGrass_Solo_TransitionTileType</key>
	<integer>167</integer>
	<key>WoodsToGrass_South_TransitionTileType</key>
	<integer>2723</integer>
	<key>WoodsToGrass_West_TransitionTileType</key>
	<integer>2650</integer>
</dict>
</plist>
